$color_black: #4d4d4d;
$color-background: #fff;
// nav-color
$color-nav: rgba(black, 0.8);
$colro-link: #777;
$color-link-hover: #fff;
$color-owl-caption: #fff;
$color-owl-caption-bg: rgba(0, 0, 0, 0.65);
// about-color
$aboutUs-bg: #fff;
$about-line: $color_black;
$join: #fff;
$join-bg: #000000;
* {
    box-sizing: border-box;
}

// network-color
$color-network: #fff;
// partner-color
$color-partner: #fff;
//
$color-youtube: #f44236;
$color-facebook:#3b5997;